work/_info
work/_lib.qdb
work/_lib1_42.qdb
work/_lib1_42.qpg
work/_lib1_42.qtl
work/_vmake
work/@_opt/_lib.qdb
work/@_opt/_lib1_0.qdb
work/@_opt/_lib1_0.qpg
work/@_opt/_lib1_0.qtl
work/@_opt/_lib2_0.qdb
work/@_opt/_lib2_0.qpg
work/@_opt/_lib2_0.qtl
work/@_opt/_lib3_0.qdb
work/@_opt/_lib3_0.qpg
work/@_opt/_lib3_0.qtl
work/@_opt/_lib4_0.qdb
work/@_opt/_lib4_0.qpg
work/@_opt/_lib4_0.qtl
work/@_opt/_lib5_0.qdb
work/@_opt/_lib5_0.qpg
work/@_opt/_lib5_0.qtl
work/@_opt/_lib6_0.qdb
work/@_opt/_lib6_0.qpg
work/@_opt/_lib6_0.qtl
work/@_opt/_data/exempt3ttwrr
work/@_opt/_data/exempt334wmm
work/@_opt/_data/exemptasi4mq
riscv测试case/测试说明.docx
riscv测试case/reg_all.dat
riscv测试case/riscv.lst
riscv测试case/riscv.riscv
vsim.wlf
vsim.dbg
transcript
modelsim.ini
